/* >>> ORDER-home */
div.roll {
    background-color: white;
    color: blue;
    text-decoration: underline;
    font-size: 3em;
    text-transform: uppercase;
}

/* >>> ORDER-order */
div.roll {
    background-color: green;
}

/* >>> ORDER-contact */
div.roll {
    background-color: blue;
}

/* >>> ORDER-page */
div.roll {
    background-color: plum;
}

/* >>> end code here */
